body {
  background-color: #6B8E23; 
  font-family: 'Tahoma', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD700;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.input-container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box {
  background-color: #FF69B4; 
  border: 2px solid #D02090;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: bold;
  color: #FFD700;
}

textarea {
  width: 100%;
  font-size: 18px;
  resize: none;
  overflow: hidden;
  max-height: 100%;
  border: 2px solid #FF6347;
  border-radius: 5px;
  background-color: #FFA07A;
  color: #8B0000;
}

p {
  font-weight: bold;
  color: #FFD700;
  margin: 0;
}