body {
  background-color: #424242; 
  font-family: 'Tahoma', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5b597;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

.input-container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box {
  background-color: #bc3f40; 
  border: 2px solid #ff6666;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); 
}

.box + .box {
  margin-left: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #ffcc00; 
  margin-bottom: 10px; 
}

textarea {
  width: 100%;
  font-size: 18px;
  resize: none;
  overflow: hidden;
  max-height: 100%;
  border: 2px solid #ff6666; 
  border-radius: 5px;
  background-color: #ffdd99; 
  color: black; 
}

h1 {
  margin: 0;
  color: black;
  font-size: 28px; 
}

p {
  font-weight: bold;
  color: #ffcc00; 
  margin: 0;
  margin-bottom: 10px; 
}

button {
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 50% / 100%;
  background-color: #ffcc00; 
  color: #ff6666; 
  padding: 10px 20px; 
  font-weight: bold;
  border: 2px solid transparent;
  transition: background-color 0.3s, border 0.3s;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: #ff6666; 
  border: 2px solid #ffcc00; 
  color: #ffdd99; 
}

.rules-container {
  max-width: 800px;
  margin: 0px auto; 
  background-color: #bc3f40;
  border: 2px solid #ff6666;
  border-radius: 10px;
  padding: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.rules-container h2 {
  color: black; 
  font-size: 24px; 
  margin: 0;
  margin-bottom: 10px; 
}

.rules-container p {
  color: #ffcc00; 
  margin: 0;
  margin-bottom: 10px;
}

.rules-container ul {
  list-style-type: disc; 
  margin-left: 20px; 
  padding-left: 0; 
}

.rules-container li {
  color: #ffcc00;
  margin: 5px 0; 
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  gap: 10px;
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
  overflow: hidden;
  border-top: 3px solid transparent;
  animation: waveBorder 2s linear infinite alternate; /* use keyframe animation */
}
.footer a {
  color: currentColor;
}
/* KEYFRAMES */
@keyframes waveBorder {
  0% {
    border: none;
    transform: translateY(3);
    color: red;
  }
  100% {
    border: none;
    transform: translateY(-3px);
    color: rgb(248, 228, 228);
  }
}